@model Aref.Domain.ViewModels.PageContentSetting.Admin.AdminUpdatePageContentSettingViewModel


<div class="col-md-3 dashboard">
    <div class="card">
        <div class="card-body">
            <div>
                <div class="row">
                    <div class="col-12 align-items-center">
                        <div class="col-md-12">

                            <div class="form-group mb-3">
                                <div class="form-check form-switch">
                                    <input disabled no-validation class="form-check-input success" type="checkbox" asp-for="AboutMeVisibility">
                                    <label class="checkbox-label">About Me</label>
                                </div>
                            </div>
                            <div class="form-group mb-3">
                                <div class="form-check form-switch">
                                    <input disabled no-validation class="form-check-input success" type="checkbox" asp-for="MyResumeVisibility">
                                    <label class="checkbox-label">My Resume</label>
                                </div>
                            </div>
                            <div class="form-group mb-3">
                                <div class="form-check form-switch">
                                    <input disabled no-validation class="form-check-input success" type="checkbox" asp-for="MySkillVisibility">
                                    <label class="checkbox-label">My Skill</label>
                                </div>
                            </div>
                            <div class="form-group mb-3">
                                <div class="form-check form-switch">
                                    <input disabled no-validation class="form-check-input success" type="checkbox" asp-for="MyProjectVisibility">
                                    <label class="checkbox-label">My Project</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-check form-switch">
                                    <input disabled no-validation class="form-check-input success" type="checkbox" asp-for="ContactMeVisibility">
                                    <label class="checkbox-label">Contact Me</label>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
