<link rel="stylesheet" href="/admin/assets/libs/sweetalert2/dist/sweetalert2.min.css">
<link rel="stylesheet" href="/Common/lib/toster/Toastr.min.css" />
<link rel="stylesheet" href="/Common/lib/ckeditor5/ckeditor5.css" id="ckeditor">
<link rel="stylesheet" href="/Common/lib/tagify/css/tagify.min.css">
<link rel="stylesheet" href="/Common/lib/uppy/uppy.min.css">
<link rel="stylesheet" href="/Common/lib/sweetalert2/dist/sweetalert2.min.css">
<link rel="stylesheet" href="/Common/css/custom.css">

<link rel="shortcut icon" type="image/x-icon" href="/Site/assets/images/favicon.png">
<title>Aref Shamspour</title>

<!-- Bootstrap min css -->
<link rel="stylesheet" href="/Site/assets/css/vendor/fontawesome.css">
<link rel="stylesheet" href="/Site/assets/css/plugins/swiper.css">
<link rel="stylesheet" href="/Site/assets/css/plugins/odometer.css">
<link rel="stylesheet" href="/Site/assets/css/vendor/animate.min.css">
<link rel="stylesheet" href="/Site/assets/css/vendor/bootstrap.min.css">
<!-- custom css -->
<link rel="stylesheet" href="/Site/assets/css/style.css">
<link rel="stylesheet" href="/Site/css/custom-site.css">



<link rel="stylesheet" href="/admin/assets/libs/sweetalert2/dist/sweetalert2.min.css">








